body {
  margin: 0px;
  padding: 0px;
}

.bg-job-details {
  background-color: black;
  margin: 0px;
  min-height: 100vh;
  color: white;
}
.job-details {
  padding: 20px;
}
.job-description {
  font-size: 20px;
}
.description-websitr-url-cotnainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.anchor-tag-for-compay-link {
  color: #4f46e5;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  width: 50%;
}
.each-skill-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.skills-img {
  margin-right: 10px;
  height: 80px;
}
.life-at-company-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 0px 15px;
  font-weight: 400;
}
.life-at-company-img {
  height: 250px;
  border-radius: 10px;
  margin: 10px;
}
.similar-jobs-contaner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
}
.each-similar-job-container {
  color: white;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.salary-lpa {
  font-weight: bold;
}

.loader-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.similar-jobs-main-heading {
  color: white;
  margin: 0px;
  margin-left: 20px;
}
