.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #272727;
  color: white;
}
li {
  list-style: none;
}
.navigate-container {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navigate-list-item {
  text-decoration: none;
  color: white;
}
li {
  margin: 10px;
  font-weight: bold;
}

.navigate-list-item:hover {
  color: #4f46e5;
  transition: 0.8s;
}

.website-logo {
  height: 30px;
  margin-top: 10px;
}
.logout-button {
  background-color: #4f46e5;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
}

.logout-button:hover {
  background-color: white;
  transition: 0.8s;
  color: #4f46e5;
}
